/* fond de page */
body {
/* Seagreen */
  background-color: #022140;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 { 
  color: white;
  text-align: center;
  font-family: 'Lato', black-900;
  font-size: 300%;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid white;
  text-shadow: 3px 0px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-right: 3em;
  margin-left: 3em;
}

/* contenu de la page */
body > * {   padding-left: 10px; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}

legend {
  margin-left: 0.05em;
  margin-right: 0.05em;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 150%;
  font-weight: bold;
  font-family: 'Lato', bold-700;
  color: white;
  background-color: #022140;
  border-radius: 5px;
  border: 3px solid #000000; 
}

fieldset {
  border: 2px outset black;
  border-radius: 3px;
  box-shadow: 5px 5px 3px black;
  font-size: 120%;
  font-family: 'Lato', bold-700;
  background-color: #265077;
  color: #c5c6c7;
}

table {
  margin-border: 2em;
}

span[id=country_name] {
  font-size: 120%;
  color: black;
}

button {
  width:110px;
  padding:6px 0 6px 0;
  background:#2d6f6d;
  border-radius:4px;
  border:none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background:#2d4f4d;
  box-shadow: 0 0 10px black;
  transition: all 0.3s ease 0s;
}

a.delete:hover {
  color: red;
}
#map {
  position: absolute;
  z-index: 2;
  margin-bottom: 1.33em;
  float: left;
  height: 80vh;
  width: 98vw;
  border: 3px solid black;*/
}
#country_data {
  width:500px;
  position: fixed;
  top: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#window{
  position:absolute;
  z-index: 8;
  margin-left:69%;
  width :10%;
}